img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;

	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}
.c1{
    background-color: #fdc4cf;
    color: black;
    
}
.c2{
    background-color: black;
    color: #58bce4;
}
.c3{
    background-color: #58bce4;
    color: black;
    padding: 40px;
}
.cor1{
    color: #58bce4;
}
img{
    max-width: 100%;
    border-radius: 5px;
}
.margemGorda{
    margin: 50px;
}
.margemMagra{
    margin: 20px;
}
.fundoEscuro{
    background-color: black;
    color: white;
}
a{
    font-size: 25px;
}
.textoCentral{
    text-align: center;
    text-orientation: mixed;
}
