<header>
    <div>
        <h1>Clima Tact</h1>
        <p>Equipe</p>
    </div>
</header>
<main>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 textoCentral c1">
                <p>
                    <h1 class="cor1">
                    <strong>Nossa Missão</strong> <br>
                    <a>
                    ______________
                    </a>
                    </h1>
                    <a>
                    O objetivo principal da nossa equipe é, a partir da medição e da analise do clima, conseguir determinar quais são as areas onde as pessoas tem maior vulnerabilidade climática, e inserir esses dados de uma forma mais precisa, para que as pessoas fiquem mais atualizadas sobre o clima em sua região.    
                    </a>
                </p>
            </div>
            <div class="col-sm-6">
                <div>
                <p>
                    <img src="/public/img/imagem_clima.png" width = "720">
                </p>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="c2">
                    <p>
                        <img src="image.png" width = "85">
                    </p>
                    <h2>
                        Fernando
                    </h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="c2">
                    <p>
                        <img src="image.png" width = "85">
                    </p>
                    <h2>
                        Gabriel    
                    </h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="c2">
                    <p>
                        <img src="image.png" width = "85">
                    </p>
                    <h2>
                        Isabella
                    </h2>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="c2">
                    <p>
                        <img src="image.png" width = "85">
                    </p>
                    <h2>
                        Henrique
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="margemGorda">
        <p>
            <a class="c1">
                A inspiração para este projeto surgiu da crescente preocupação com os impactos das <br> mudanças climáticas e a frequência cada vez maior de desastres naturais em várias partes do mundo. Observamos que, ao longo dos últimos anos, eventos extremos como furacões, enchentes e secas têm causado prejuízos devastadores a comunidades, ecossistemas e economias.
            </a>
        </p>
    </div> 

    <div class="container-fluid">
        <div class="margemGorda">
            <div class="row">
                <div class="col-sm-6">
                    <p class="margemGorda">
                        <img src="/public/img/imagem_climaBrasil.png" width = "650"> 
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="margemGorda">
                        <img src="/public/img/imagem_climaenchentes.png" width = "650"> 
                    </p>
                </div>
            </div>
            </div>
    </div>

    <div class="container-fluid c1">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="cor1 textoCentral">
                    <strong>Posicionamento</strong> <br>
                    <a>
                    ______________
                    </a>
            </div>
            <div class="col-sm-8">
                <a>
                Fazendo a utilização de noticias precisas e atualizadas, junto de uma tecnologia avancada mas acessivel, é possível fazer a criação de um site que mostre as previsões do clima junto com notícias da região especificada logo abaixo na parte do mapa (com o foco principalmente em São Paulo incialmente), para que a população se torne mais consciente sobre o assunto.
                </a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div>
        <h1 class="textoCentral margemGorda">
            <strong>Objetivos Principais do site</strong>
        </h1>   
    </div>

    <div class="container-fluid c1">
        <div class="row">
            <div class="col-sm-4">
                <h2>
                    Visual cativante
                </h2>
                <p>
                    É preciso que o site tenha um design moderno e cativante para que as pessoas se sintam incentivadas em consultar o aplicativo constantemente durante a semana para que se crie uma conscientizacao sobre o monitoramento do clima
                </p>
                <h2>
                    Notificações 
                </h2>
                <p>
                    Se o usuário do site permitir, o site apresenta notificações periódicas sobre o clima do dia seguinte, ou alguma notificação especial, em caso de alerta, um exemplo são as chuvas fortes.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>
                    Atingir o público-alvo
                </h2>
                    <p>
                    Um dos pontos mais importantes é ter noção da quantidade do público-alvo que irá ser atinigido. Pessoas em áreas de risco, como por exemplo habitantes das comunidades mais pobres de São Paulo, vivem com ameaças constantemente, como desabamentos.  
                </p>        
                <h2>
                    Tecnologias
                </h2>
                <p>
                    As tecnologias desempenham um papel crucial em projetos de monitoramento climático, pois permitem a coleta, análise e interpretação precisa de dados em tempo real. Essas informações são essenciais para prever mudanças climáticas e identificar padrões que podem impactar a saúde pública e a gestão de recursos naturais.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>
                    Intuitivo
                </h2>
                <p>
                    É importante que o site seja o mais intuitivo possível, para que o máximo número de pessoas consiga se informar sobre o clima
                </p>
                <p class="cor2">
                    aaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa 
                </p>
                <h2>
                    Responsabilidade Social e ambiental 
                </h2>
                <p>
                    Valorizamos a sustentabilidade e adotamos práticas responsáveis em relação ao meio ambiente e à comunidade em que estamos inseridos.
                </p>
            </div>
        </div>
    </div>
</main>
