<header>
    <div>
        <h1>Clima Tact</h1>
        <p>Segurança e Sustentabilidade em Suas Mãos</p>
    </div>
</header>
<main>
    <!-- Primeira seção: post-it à esquerda, imagem à direita -->
    <section id="sobre">
        <div class="postit">
            <h2>Sobre Nós</h2>
            <p>A Clima Tact é uma empresa dedicada a fornecer soluções climáticas avançadas e acessíveis. Nossa missão é equipar a comunidade com ferramentas que garantam segurança climática, promovam a sustentabilidade e aumentem a conscientização ambiental.</p>
        </div>
        <div class="image-container">
            <img src="/public/img/download.jpeg" alt="Pessoas plantando uma árvore">
        </div>
    </section>

    <!-- Segunda seção: imagem à esquerda, post-it à direita -->
    <section>
        <div class="image-container">
            <img src="/public/img/pexels-bri-schneiter-28802-346529.jpg">
        </div>
        <div class="postit">
            <h2>Nossa Missão</h2>
            <p>Nossa estação meteorológica portátil é projetada para fornecer dados climáticos precisos e em tempo real, ajudando na proteção contra desastres naturais. Nosso objetivo é fortalecer a relação entre as pessoas e o ambiente, facilitando a tomada de decisões seguras e informadas.</p>
        </div>
    </section>

    <!-- Terceira seção: post-it à esquerda, imagem à direita -->
    <section>
        <div class="postit">
            <h2>O Futuro Verde</h2>
            <p>Estamos comprometidos em desenvolver soluções que não apenas protejam a comunidade, mas também contribuam para um futuro mais verde e sustentável. A Clima Tact inova para criar um impacto positivo, promovendo práticas que respeitam e preservam o meio ambiente.</p>
        </div>
        <div class="image-container">
            <img src="/public/img/fotos-de-paisagens-floresta-amazonica.jpg" alt="Imagem de uma floresta verde e sustentável">
        </div>
    </section>
</main>
